## Laptop Pricing Dataset

In [22]:
import pandas as pd 
import numpy as np

In [23]:
filepath = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_base.csv"
df = pd.read_csv(filepath, header=None)
df

          0   1          2   3   4   5       6    7   8    9     10    11
0       Acer   4  IPS Panel   2   1   5   35.56  1.6   8  256   1.6   978
1       Dell   3    Full HD   1   1   3  39.624  2.0   4  256   2.2   634
2       Dell   3    Full HD   1   1   7  39.624  2.7   8  256   2.2   946
3       Dell   4  IPS Panel   2   1   5  33.782  1.6   8  128  1.22  1244
4         HP   4    Full HD   2   1   7  39.624  1.8   8  256  1.91   837
..       ...  ..        ...  ..  ..  ..     ...  ...  ..  ...   ...   ...
233   Lenovo   4  IPS Panel   2   1   7   35.56  2.6   8  256   1.7  1891
234  Toshiba   3    Full HD   2   1   5  33.782  2.4   8  256   1.2  1950
235   Lenovo   4  IPS Panel   2   1   5   30.48  2.6   8  256  1.36  2236
236   Lenovo   3    Full HD   3   1   5  39.624  2.5   6  256   2.4   883
237  Toshiba   3    Full HD   2   1   5   35.56  2.3   8  256  1.95  1499

[238 rows x 12 columns]

In [24]:
df.head()

     0   1          2   3   4   5       6    7   8    9     10    11
0  Acer   4  IPS Panel   2   1   5   35.56  1.6   8  256   1.6   978
1  Dell   3    Full HD   1   1   3  39.624  2.0   4  256   2.2   634
2  Dell   3    Full HD   1   1   7  39.624  2.7   8  256   2.2   946
3  Dell   4  IPS Panel   2   1   5  33.782  1.6   8  128  1.22  1244
4    HP   4    Full HD   2   1   7  39.624  1.8   8  256  1.91   837

In [25]:
headers = ["Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core", "Screen_Size_inch", "CPU_frequency", "RAM_GB", "Storage_GB_SSD", "Weight_kg", "Price"]
print("Headers:\n", headers)

Headers:
 ['Manufacturer', 'Category', 'Screen', 'GPU', 'OS', 'CPU_core', 'Screen_Size_inch', 'CPU_frequency', 'RAM_GB', 'Storage_GB_SSD', 'Weight_kg', 'Price']

In [26]:
df.columns= headers
df.columns
df.head(20)

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.6,978
1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.2,634
2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.2,946
3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
5,Dell,3,Full HD,1,1,5,39.624,1.6,8,256,2.2,1016
6,HP,3,Full HD,3,1,5,39.624,1.6,8,256,2.1,1117
7,Acer,3,IPS Panel,2,1,5,38.1,1.6,4,256,2.2,866
8,Dell,3,Full HD,1,1,5,39.624,2.5,4,256,2.3,812
9,Acer,3,IPS Panel,3,1,7,38.1,1.8,8,256,2.2,1068
10,Dell,3,Full HD,1,1,7,39.624,1.8,8,256,2.13,975
11,HP,3,Full HD,2,1,3,39.624,2.0,4,128,1.91,558
12,Asus,3,Full HD,2,2,3,39.624,2.0,4,256,2,527
13,Dell,4,Full HD,2,1,5,35.56,1.6,8,256,1.7,1117
14,Asus,3,Full HD,2,1,5,35.56,1.6,8,256,1.4,1195
15,HP,3,Full HD,2,1,5,39.624,2.5,8,256,1.86,876
16,Dell,4,IPS Panel,1,1,7,33.02,1.8,8,256,1.4,1213
17,Dell,3,Full HD,1,1,7,39.624,1.8,8,256,2.2,1105
18,Dell,4,IPS Panel,2,1,5,38.1,1.6,8,256,1.88,1392
19,HP,3,Full HD,2,1,5,35.56,1.6,8,256,1.63,1092

In [27]:
df.replace("?", np.nan, inplace=True)
df.head(20)

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.6,978
1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.2,634
2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.2,946
3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
5,Dell,3,Full HD,1,1,5,39.624,1.6,8,256,2.2,1016
6,HP,3,Full HD,3,1,5,39.624,1.6,8,256,2.1,1117
7,Acer,3,IPS Panel,2,1,5,38.1,1.6,4,256,2.2,866
8,Dell,3,Full HD,1,1,5,39.624,2.5,4,256,2.3,812
9,Acer,3,IPS Panel,3,1,7,38.1,1.8,8,256,2.2,1068
10,Dell,3,Full HD,1,1,7,39.624,1.8,8,256,2.13,975
11,HP,3,Full HD,2,1,3,39.624,2.0,4,128,1.91,558
12,Asus,3,Full HD,2,2,3,39.624,2.0,4,256,2,527
13,Dell,4,Full HD,2,1,5,35.56,1.6,8,256,1.7,1117
14,Asus,3,Full HD,2,1,5,35.56,1.6,8,256,1.4,1195
15,HP,3,Full HD,2,1,5,39.624,2.5,8,256,1.86,876
16,Dell,4,IPS Panel,1,1,7,33.02,1.8,8,256,1.4,1213
17,Dell,3,Full HD,1,1,7,39.624,1.8,8,256,2.2,1105
18,Dell,4,IPS Panel,2,1,5,38.1,1.6,8,256,1.88,1392
19,HP,3,Full HD,2,1,5,35.56,1.6,8,256,1.63,1092

In [28]:
df.dtypes

Manufacturer         object
Category              int64
Screen               object
GPU                   int64
OS                    int64
CPU_core              int64
Screen_Size_inch     object
CPU_frequency       float64
RAM_GB                int64
Storage_GB_SSD        int64
Weight_kg            object
Price                 int64
dtype: object

In [29]:
df.describe(include="all")

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
count,238,238.000000,238,238.000000,238.000000,238.000000,234,238.000000,238.000000,238.000000,233,238.000000
unique,11,NaN,2,NaN,NaN,NaN,9,NaN,NaN,NaN,77,NaN
top,Dell,NaN,Full HD,NaN,NaN,NaN,39.624,NaN,NaN,NaN,2.2,NaN
freq,71,NaN,161,NaN,NaN,NaN,89,NaN,NaN,NaN,21,NaN
mean,NaN,3.205882,NaN,2.151261,1.058824,5.630252,NaN,2.360084,7.882353,245.781513,NaN,1462.344538
std,NaN,0.776533,NaN,0.638282,0.235790,1.241787,NaN,0.411393,2.482603,34.765316,NaN,574.607699
min,NaN,1.000000,NaN,1.000000,1.000000,3.000000,NaN,1.200000,4.000000,128.000000,NaN,527.000000
25%,NaN,3.000000,NaN,2.000000,1.000000,5.000000,NaN,2.000000,8.000000,256.000000,NaN,1066.500000
50%,NaN,3.000000,NaN,2.000000,1.000000,5.000000,NaN,2.500000,8.000000,256.000000,NaN,1333.000000
75%,NaN,4.000000,NaN,3.000000,1.000000,7.000000,NaN,2.700000,8.000000,256.000000,NaN,1777.000000
max,NaN,5.000000,NaN,3.000000,2.000000,7.000000,NaN,2.900000,16.000000,256.000000,NaN,3810.000000

In [30]:
df.to_csv("laptop-pricing.csv")

#### Replacing Values by mean of column

In [31]:
mean = df['GPU'].mean()
df['GPU'].replace(np.nan, mean)

0      2
1      1
2      1
3      2
4      2
      ..
233    2
234    2
235    2
236    3
237    2
Name: GPU, Length: 238, dtype: int64

In [32]:
df= pd.read_csv('hotel-booking-data.csv', delimiter='\t')
df.dropna(inplace=True)
print(df.to_string())

           Date        Company           Person Name  Room number
0    1-Jan-2022         Avamba     Anatole Ridehalgh       4008.0
1    1-Jan-2022           Fatz       Aldrich McKevin       2002.0
2    1-Jan-2022          Leexo       Stanley Hadrill       4012.0
4    1-Jan-2022         Rhyzio          Lyndell Tice       1006.0
5    1-Jan-2022          Eadel   Broderic Handscombe       3015.0
6    1-Jan-2022           Oozz          Deina Harwin       2005.0
7    1-Jan-2022       Innotype     Benyamin Crocetti       2001.0
10   1-Jan-2022           Jayo       Tate Manntschke       3014.0
13   1-Jan-2022      Riffpedia        Elianore Vigar       3002.0
14   1-Jan-2022           Tazz         Alonso Mundee       4006.0
16   1-Jan-2022     Browsezoom         Ysabel Lordon       6003.0
17   1-Jan-2022         Skinte         Raff Verecker       3012.0
19   1-Jan-2022    Twitterlist       Andrea Humpatch       4005.0
21   1-Jan-2022     Shuffletag           Cammy Curle       2016.0
22   1-Jan-2022           Geba          Howey Oseman       6001.0
25   1-Jan-2022       Flipopia     Prince Coppenhall       2002.0
26   1-Jan-2022      Topicblab          Noni Tarbett       1012.0
27   1-Jan-2022        Feedmix           Bondon Tuny       3007.0
28   1-Jan-2022      Skynoodle       Andros Cathcart       1008.0
30   1-Jan-2022           Mita         Aubert Racher       4004.0
31   1-Jan-2022         Skinix          Curcio Lewis       3008.0
32   1-Jan-2022          Aimbu         Weider Brookz       1001.0
33   1-Jan-2022    Babblestorm          Alric Reeder       7001.0
34   1-Jan-2022           Jayo   Melany Brimblecombe       3010.0
35   1-Jan-2022          Quinu         Art Giannotti       3013.0
37   1-Jan-2022        Dynazzy        Ericha MacBain       4002.0
38   1-Jan-2022        Tagtune      Scarlett Berthel       2001.0
40   1-Jan-2022          Kimia      Lottie Barnsdall       2014.0
41   1-Jan-2022        Centizu        Faydra Hulland       5006.0
42   1-Jan-2022           Muxo         Felice Kramer       4002.0
43   1-Jan-2022        Dynabox          Deane Gemson       5005.0
44   1-Jan-2022        Skalith         Willie Norree       3002.0
45   1-Jan-2022        Tagchat  Almira Bartolomeotti       2004.0
47   1-Jan-2022        Buzzdog      Sharona Ferreres       4012.0
48   1-Jan-2022           Zava         Ilaire Gaynes       1013.0
51   1-Jan-2022          Ntags          Corny Madill       3002.0
53   1-Jan-2022        Youspan        Yasmin Snelgar       3012.0
54   1-Jan-2022          Skyvu       Sherlock Hyland       6001.0
55   1-Jan-2022          Quinu   Kalindi Shaughnessy       6003.0
56   1-Jan-2022    Twitterlist        Lauretta Stoke       4004.0
58   1-Jan-2022      Brightdog          Lucie Jewiss       2009.0
59   1-Jan-2022    Shufflebeat        Dorita Boulger       6005.0
60   1-Jan-2022       Fivechat        Orsola Cowdery       4001.0
61   1-Jan-2022    Topiclounge         Lilah Attryde       1005.0
62   1-Jan-2022        Youopia            Alley Pyer       2002.0
64   1-Jan-2022         Dabjam       Pearline Toolan       4010.0
65   1-Jan-2022          Kazio        Alvan Hardwick       4005.0
67   1-Jan-2022          Mycat        Gipsy Bellison       5006.0
69   1-Jan-2022       Fivechat         Kinna Linsley       2001.0
70   1-Jan-2022         Meevee    Rodrique Brockbank       2013.0
71   1-Jan-2022         Skibox      Jonathan Ewebank       3007.0
72   1-Jan-2022      Topiczoom      Ladonna Castagna       3012.0
74   1-Jan-2022       Realfire           Jules Evill       4010.0
75   1-Jan-2022       Devshare         Nehemiah Huke       2013.0
76   1-Jan-2022        Devcast     Jacques Stiffkins       1013.0
77   1-Jan-2022           Eare       Fields Dovinson       4010.0
78   1-Jan-2022       Dabshots      Gertie Dominguez       1011.0
80   1-Jan-2022         BlogXS         Dal McGaughay       1004.0
83   1-Jan-2022        Rhycero   Merill Kleinhandler       1014.0
84   1-Jan-2022        Meembee       Fredrick Hurtic       2008.0
85   1-Jan-2022          Ntags    Angeline Goodbairn       1008.0
86   1-Jan-2022        Tagopia      Steven Casacchia       2001.0
87   1-Jan-2022       Feedspan               Abel Do       3016.0
88   1-Jan-2022           Lajo    Margareta Crathern       6001.0
90   1-Jan-2022          Ainyx           Etty Boland       4007.0
92   1-Jan-2022       Riffpath            Sara Emlin       2008.0
93   1-Jan-2022         Rhynyx     Camellia O'Rudden       1004.0
94   1-Jan-2022       Feedfish  Margarette Blanchard       2016.0
95   1-Jan-2022          Kwinu       Talbot Martinho       4010.0
97   1-Jan-2022        Skinder           Bobbie Derx       1012.0
98   1-Jan-2022   Jabbersphere          Merry Lawler       1008.0
99   1-Jan-2022         Tambee     Reggie Chaldecott       3006.0
101  1-Jan-2022          Yadel             Adda Dive       5002.0
102  1-Jan-2022     Flashpoint       Virgina Congram       1015.0
104  1-Jan-2022           Vipe         Emmet Schmidt       4006.0
106  1-Jan-2022       Edgeclub       Jeffrey Stelfax       1007.0
108  1-Jan-2022       Realfire        Oby Reddington       1011.0
109  1-Jan-2022          Leexo          Leslie Crisp       5003.0
111  1-Jan-2022          Jatri         Harmon Hurren       4008.0
113  1-Jan-2022          Yozio       Chickie Altimas       4001.0
117  1-Jan-2022           Oloo          Curtis Oxley       2005.0
118  1-Jan-2022          Eadel          Dukey Hansod       7001.0
119  1-Jan-2022   Dazzlesphere       Dunn Davydzenko       4011.0
120  1-Jan-2022          Yabox       Matteo Lovelady       4005.0
122  1-Jan-2022         Rhynyx         Junie Parrott       4007.0
123  1-Jan-2022          Miboo          Pierce Meese       5007.0
124  1-Jan-2022         Leenti       Marven Burbudge       3010.0
125  1-Jan-2022          Quire         Leland Somers       3007.0
126  1-Jan-2022          Meetz        Celia Concklin       1016.0
127  1-Jan-2022       Realcube          Terrie Barme       2011.0
131  1-Jan-2022       Fiveclub            Akim Chang       4004.0
132  1-Jan-2022       Buzzster         Harwell Vance       2011.0
134  1-Jan-2022         Camido       Steven Britnell       1013.0
135  1-Jan-2022       Buzzbean         Moyra Ferrini       1008.0
137  1-Jan-2022        Tagtune          Pammi Powley       3001.0
138  1-Jan-2022         Divavu       Cozmo Rosenblum       1009.0
139  1-Jan-2022         Vinder     Lurette Vaissiere       1004.0
140  1-Jan-2022          Quinu        Brandtr Groven       1005.0
141  1-Jan-2022          Aimbo         Percy Robertz       2009.0
142  1-Jan-2022        Demivee       Walsh Yarranton       1004.0
144  1-Jan-2022          Ainyx          Georg Jelley       2011.0
145  1-Jan-2022          Oyope        Kim Caldecourt       1012.0
146  1-Jan-2022        Feedbug           Dari Weetch       2004.0
147  1-Jan-2022     Divanoodle            Reta Yearn       3015.0
149  1-Jan-2022          Avamm      Kakalina Farryan       1009.0
150  1-Jan-2022           Yodo          Nanci Slyman       2009.0
151  1-Jan-2022      Photobean          Marty Jerome       6001.0
153  1-Jan-2022       Realcube      Violetta Hannond       2015.0
154  1-Jan-2022     Brightbean        Hagan McRobert       1008.0
157  1-Jan-2022     Bubbletube        Annabel Tuxell       4010.0
158  1-Jan-2022      Wordpedia        Estella Jirick       2005.0
160  1-Jan-2022          Leexo    Zebulen Gillfillan       5004.0
163  1-Jan-2022         Devbug         Benji Quadrio       1016.0
164  1-Jan-2022   Jabbersphere       Jarrett Salazar       3011.0
165  1-Jan-2022      Rhynoodle        Delora Cescoti       3010.0
166  1-Jan-2022          Zooxo          Licha Attyeo       7002.0
167  1-Jan-2022        Zoomdog      Charlene Pickard       1009.0
169  1-Jan-2022         Skinix     Julianne Ghelardi       5004.0
170  1-Jan-2022       Centidel         Heda Burcombe       2008.0
171  1-Jan-2022  Thoughtbridge       Vivianna Syvret       5005.0
173  1-Jan-2022         Voolia           Sandor Sagg       2002.0
174  1-Jan-2022        Youfeed     Marguerite Bodell       3014.0
176  1-Jan-2022          Voomm   Rudyard Stallibrass       1014.0
179  1-Jan-2022           Vitz       Pepillo Arkcoll       4009.0
180  1-Jan-2022          Aimbo        Ashil Conichie       1014.0
182  1-Jan-2022       Jaxworks           Norry Satch       3015.0
183  1-Jan-2022    Twitterwire    Kelwin Gouldthorpe       2009.0
184  1-Jan-2022          Skiba       George Downgate       7001.0
185  1-Jan-2022      Brightdog      Bertrando Redman       3014.0
186  1-Jan-2022         Tagpad        Stephani Lafee       1015.0
187  1-Jan-2022         Meevee       Victoria Lavery       7002.0
191  1-Jan-2022       Fivechat        Corabella Saye       4008.0
192  1-Jan-2022        Innojam     Leandra Potapczuk       5002.0
193  1-Jan-2022   Twitterworks       Valentia Ledson       1010.0

In [34]:
df= pd.read_csv('automobile.csv')
df.head(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,18920
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140.0,5500.0,17,20,23875
9,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101.0,5800.0,23,29,16430
10,0,192.0,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101.0,5800.0,23,29,16925
11,0,188.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121.0,4250.0,21,28,20970
12,0,188.0,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121.0,4250.0,21,28,21105
13,1,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121.0,4250.0,20,25,24565
14,0,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,30760
15,0,NaN,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,41315
16,0,NaN,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,15,20,36880
17,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48.0,5100.0,47,53,5151
18,1,98.0,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,6295
19,0,81.0,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,6575

In [ ]:
df.fillna(130) ##fill the missing NaN values as 130
##df.fillna({"normalized-losses": 130}) fill the missing NaN values as 130 in specific column

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,130.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,130.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,130.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845
197,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045
198,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485
199,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470
200,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [ ]:
df.rename(columns={'fuel-type': 'fuel-types'}) ##renaming the column

,symboling,normalized-losses,make,fuel-types,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845
197,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045
198,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485
199,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470
200,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [42]:
df= pd.read_csv('laptop-pricing.csv')
df

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,233,Lenovo,4,IPS Panel,2,1,7,35.560,2.6,8,256,1.70,1891
234,234,Toshiba,3,Full HD,2,1,5,33.782,2.4,8,256,1.20,1950
235,235,Lenovo,4,IPS Panel,2,1,5,30.480,2.6,8,256,1.36,2236
236,236,Lenovo,3,Full HD,3,1,5,39.624,2.5,6,256,2.40,883
237,237,Toshiba,3,Full HD,2,1,5,35.560,2.3,8,256,1.95,1499

In [52]:
df.dropna(subset=['Screen_Size_inch'])
df['Screen_Size_inch'].fillna(0)

0      35.560
1      39.624
2      39.624
3      33.782
4      39.624
        ...
233    35.560
234    33.782
235    30.480
236    39.624
237    35.560
Name: Screen_Size_inch, Length: 238, dtype: float64

In [54]:
df['Screen_Size_inch'].isna().sum()
# df['Screen_Size_inch'] = df['Screen_Size_inch'].astype(int)

np.int64(4)

In [59]:
df = df.dropna(subset=['Screen_Size_inch'])
df['Screen_Size_inch'].isna().sum()
df['Screen_Size_inch'] = df['Screen_Size_inch'].astype(int)
df.dtypes

Unnamed: 0            int64
Manufacturer         object
Category              int64
Screen               object
GPU                   int64
OS                    int64
CPU_core              int64
Screen_Size_inch      int64
CPU_frequency       float64
RAM_GB                int64
Storage_GB_SSD        int64
Weight_kg           float64
Price                 int64
dtype: object

In [61]:
df= pd.read_csv('hotel-booking-data.csv', delimiter='\t')
df

           Date       Company        Person Name  Room number
0    1-Jan-2022        Avamba  Anatole Ridehalgh       4008.0
1    1-Jan-2022          Fatz    Aldrich McKevin       2002.0
2    1-Jan-2022         Leexo    Stanley Hadrill       4012.0
3        Hotels           NaN                NaN          NaN
4    1-Jan-2022        Rhyzio       Lyndell Tice       1006.0
..          ...           ...                ...          ...
190   Cleartrip           NaN                NaN          NaN
191  1-Jan-2022      Fivechat     Corabella Saye       4008.0
192  1-Jan-2022       Innojam  Leandra Potapczuk       5002.0
193  1-Jan-2022  Twitterworks    Valentia Ledson       1010.0
194      Hotels           NaN                NaN          NaN

[195 rows x 4 columns]

In [ ]:
df.dropna(subset=['Date'])
# df['Date'] = pd.to_datetime(df['Date'], format='mixed') ##to convert format into date time
# print(df.to_string())

           Date       Company        Person Name  Room number
0    1-Jan-2022        Avamba  Anatole Ridehalgh       4008.0
1    1-Jan-2022          Fatz    Aldrich McKevin       2002.0
2    1-Jan-2022         Leexo    Stanley Hadrill       4012.0
3        Hotels           NaN                NaN          NaN
4    1-Jan-2022        Rhyzio       Lyndell Tice       1006.0
..          ...           ...                ...          ...
190   Cleartrip           NaN                NaN          NaN
191  1-Jan-2022      Fivechat     Corabella Saye       4008.0
192  1-Jan-2022       Innojam  Leandra Potapczuk       5002.0
193  1-Jan-2022  Twitterworks    Valentia Ledson       1010.0
194      Hotels           NaN                NaN          NaN

[195 rows x 4 columns]

In [71]:
df.drop_duplicates()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,233,Lenovo,4,IPS Panel,2,1,7,35.560,2.6,8,256,1.70,1891
234,234,Toshiba,3,Full HD,2,1,5,33.782,2.4,8,256,1.20,1950
235,235,Lenovo,4,IPS Panel,2,1,5,30.480,2.6,8,256,1.36,2236
236,236,Lenovo,3,Full HD,3,1,5,39.624,2.5,6,256,2.40,883
237,237,Toshiba,3,Full HD,2,1,5,35.560,2.3,8,256,1.95,1499

In [76]:
df= pd.read_csv('data.csv')
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [77]:
arr = np.array([1,2,3,4,5])
print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>